<div class="container-fluid px-0">
  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;">Challenges</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="first-challenge" routerLinkActive="active">Required Three Whole Number</a>
        <a class="nav-item nav-link" routerLink="second-challenge" routerLinkActive="active">Fixed 2 Decimal with Currency</a>
        <a class="nav-item nav-link" routerLink="third-challenge" routerLinkActive="active">Dark Mode</a>
        <a class="nav-item nav-link" routerLink="fourth-challenge" routerLinkActive="active">Target Pipe</a>
      </div>
    </div>
  </nav>
  <!-- Content -->
  
  <router-outlet></router-outlet>
  
</div>